
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600&display=swap');

h1,
h2,
h3 .h1 .h2 .h3 {
  color: darkred;
  font-family: 'Nova Square', cursive;
}

.bg-darkred {
  background-color: darkred;
}


.lista-footer a {
  color: white;
  text-decoration: none;
}

.lista-footer a:hover {
  color: #C67F7F;
}


.button {
  background-color: darkred;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 30px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.555);
}

.button a {
  color: white;
  text-decoration: none;
}

.button a:hover {
  color: #C67F7F;
}

body {
  background-color: #ececec;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
}


.bg-introduzione {
  background: linear-gradient(white, transparent), url(./media/switzerland-862870_1920.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  height: 600px;
}

.h1-title {
  letter-spacing: 30px;
  padding: 30px 0px;

}



/* .bg-quote{
background: url(./media/mountains.png);
background-position: top;
background-size: cover;
height: 700px;

} */

.quote {
  font-size: 20px;
  font-style: italic;
}

.montagne img {
  height: auto;
  position: absolute;
  bottom: 0px;
}

.quote-left,
.quote-right {

  color: darkred;
  padding-left: 20px;
  padding-right: 20px;
}

.icon a {
  font-size: 45px;
  color: darkred;
}

.icon a:hover {
  color: #C67F7F;

}

.icon {
  color: darkred;

}

.icon i {
  transition: all 0.4s ease-in-out;
}

.icon i:hover {
  transform: scale(1.3);
}

div.hr-linea {
  background-color: darkred;
  height: 5px !important;
  border: none;
  opacity: 0.9;
  position: relative;
  display: flex;
  justify-content: center;

}


div.hr-linea::before {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  border: 3px solid darkred;
  background-color: rgb(255, 255, 255);
  content: " ";
  top: -7px;
  display: block;
}

.timeline {
  height: auto;
  border-left: 5px solid darkred;
  margin-left: 45px;
  padding-top: 20px;
}

.cicle-linea {
  position: relative;

}

.circle-linea::before {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  border: 3px solid darkred;
  background-color: rgb(255, 255, 255);
  content: " ";
  display: block;
  left: 49px;

}

.alberi-grigi {
  position: relative;
}

.alberi-grigi img {
  position: absolute;
  bottom: 0;
}

.alberi-rossi {
  position: relative;

}

.alberi-rossi img {
  position: absolute;
  bottom: 0px;
  padding-top: 50px;
}


.photo-team {
  border-radius: 50%;
  padding: 10px;
  width: 180px;
  height: 180px;
  margin: 0 auto;
  border: 3px solid darkred;

}

.photo img {
  transition: all 1.5s ease-in-out;
}

.photo img:hover {
  transform: rotateY(360deg);
}

.photo-benefit {
  border-radius: 50%;
  padding: 10px;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border: 3px solid darkred;
}


.list-socials {
  color: darkred;
  list-style: none;
  padding-left: 0;
}

.list-socials li {
  transition: all 0.5s ease-in-out;
}

.list-socials li:hover {
  transform: scale(1.5);
}

.list-socials a {
  color: darkred;
}

.list-socials a:hover {
  color: #C67F7F;

}

.cont-spazio {
  padding-bottom: 300px;

}

.trans-from-left {
  animation: 1s ease-out 0s 1 slideInFromLeft;

}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.trans-from-top {
  animation: 1s ease-out 0s 1 slideInFromTop;

}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}


/*  MEDIA QUERIES */

@media screen and (max-width:992px) {

  .alberi-grigi {
    display: none;
  }
}


@media only screen and (max-width:992px) {
  .logo-nav {
    display: flex;
    justify-content: start;
  }
}

/*  MEDIA QUERIES PHONE*/
@media only screen and (max-width: 576px) {
  .e-1 {
    order: 2;
  }

  .e-2 {
    order: 1;
  }

  .logo-nav {
    display: flex;
    justify-content: start;
  }

}
